@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Flex:wght@400;700&family=Roboto:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:wght@400;700&display=swap');

html, body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79, 0,69,1) 0%, rgba(0,122,184,1) 100%); */
}

body {
  @apply bg-black;
}

.hidden {
  display: none;
}
/* .profile-dropdown {
  @apply absolute right-0 mt-2 py-2 w-48 bg-white rounded-md shadow-xl z-20;
} */
.profile-dropdown {
  position: absolute;
  right: 10;
  z-index: 20;
  background-color: white;
  color: black;
  width: 275px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.picker {
  color: white;
}

.react-datepicker__month-container {
  background-color: gray;
}

.react-datepicker__day:hover {
  background-color: brown;
}


