@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}

.hidden {
  display: none;
}
/* .profile-dropdown {
  @apply absolute right-0 mt-2 py-2 w-48 bg-white rounded-md shadow-xl z-20;
} */
.profile-dropdown {
  position: absolute;
  right: 10;
  z-index: 20;
  background-color: white;
  color: black;
  width: 275px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.picker {
  color: white;
}

.react-datepicker__month-container {
  background-color: gray;
}

.react-datepicker__day:hover {
  background-color: brown;
}

/* #picker {
  grid-column: 10/10;
  grid-row: 4/4;
  background: black;

  input {
    font-size: 80px;
    font-family: "Roboto Condensed";
    font-weight: bold;

    color: gray;
    text-align: center;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #E3B924;
    &:focus {
      outline: none;
    }
  }
} */
